html, body {
  margin: 0;
  padding: 0;
  background: #1E2528;
  font-family: sans-serif;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
}

/* .controls {
  position: absolute;
  top: 0;
  right: 0;
  width: 24px;
  height: 224px;
  background: #fff;
} */

p {
  color: #ffffff;
  user-select: none;
}
